name: Docker Image build test
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Build the Docker image for test
        run: |
          docker build . --tag autoindex-test:latest
